/*//////////////////////////////////
////////////// GENERAL /////////////
//////////////////////////////////*/

@font-face {
    font-family: "Beaufort";
    src: url("../res/fonts/Beaufort-Regular.ttf");
}
@font-face {
    font-family: "Beaufort";
    src: url("../res/fonts/Beaufort-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Akrobatx0";
    src: url("../res/fonts/Akro/Akrobat-Regular.ttf");
}
@font-face {
    font-family: "Akrobatx-1";
    src: url("../res/fonts/Akro/Akrobat-Light.ttf");
}
@font-face {
    font-family: "Akrobatx-2";
    src: url("../res/fonts/Akro/Akrobat-ExtraLight.ttf");
}
@font-face {
    font-family: "Akrobatx-3";
    src: url("../res/fonts/Akro/Akrobat-Thin.ttf");
}
@font-face {
    font-family: "Akrobatx1";
    src: url("../res/fonts/Akro/Akrobat-SemiBold.ttf");
}
@font-face {
    font-family: "Akrobatx2";
    src: url("../res/fonts/Akro/Akrobat-Bold.ttf");
}
@font-face {
    font-family: "Akrobatx3";
    src: url("../res/fonts/Akro/Akrobat-ExtraBold.ttf");
}
@font-face {
    font-family: "Akrobatx4";
    src: url("../res/fonts/Akro/Akrobat-Black.ttf");
}

/*background: linear-gradient(20deg, rgb(219, 112, 147), rgb(218, 163, 87));*/

h1,h2,h3,h4,h5,h6,a,#avatarWrapper>p{
    font-family: Beaufort !important;
}

body{
    padding: 0px;
    margin: 0px;
    font-family: Akrobatx2 !important;
    font-size: 19px !important;
    color: #282f31 !important;
    width: 100%;
    overflow: hidden;
}

hr{
    width: 70%;
    border-top: 1px solid #282f31 !important;
}

.hidden{
    display: none !important;
    visibility: hidden none !important;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    background-color: #523a78;
    background-image: linear-gradient(155deg, #ee696b 0%, #523a78 28%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

table tbody tr{
    height: 38px !important;
}

.topright{
    float: right;
    vertical-align: center;
    height: 100%;
}

table{
    width: 90% !important;
    margin: 0 128px 0 64px;
}

td{
    padding: 1px 10px !important;
    margin: auto !important;
    border: 0px !important;
    vertical-align: middle !important;
}

#main-wrapper{
    min-width: 1650px;
	width:100vw;
	height:100vh;
}

.inlineInputContainer{
    display: flex;
}

.inlineInputContainer input, select{
    margin: 0 4px; 
}

.measureInput .quantityInput{
    width: 196px !important;
}

.measureInput .unitSelector{
    width: 128px !important
}

.column128{
    width: 128px;
}

.column192{
    width: 192px;
}

.column256{
    width: 256px;
}

.column384{
    width: 384px;
}

/*//////////////////////////////////
/////////// SIDE BAR PART //////////
//////////////////////////////////*/

.sidebar-wrapper{
    z-index: 2;
    position: fixed;
    display: inline-block;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    height: 100%;
    color: #222f3e !important;
    width: 250px;
    box-shadow: 3px 0px 10px #282f31;
}

#sidebar-nav{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center; 
}

.sidebar-wrapper input[type="text"], select, textarea{
    border: 0px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    height: 40px;
    width: 80%;
    padding-left: 20px;
    resize: none;
    display: inline-block;
 }

#sidebar-nav li {
    line-height: 36px;
}

#sidebar-nav .sub{
    height: 96px;
    padding: 12px 0 16px 0;
}

#sidebar-nav li a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: #222f3e;
    margin: auto;
}

#sidebar-nav li a img{
    width: 64px;
    height: 64px;
    display: block;
    margin: 0 auto;
}

#sidebar-nav li a:hover {
    text-decoration: none;
    border:0px;
    cursor: pointer;
}

#sidebar-nav li a p{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #523a78;
    background-image: linear-gradient(316deg, #523a78 0%, #ee696b 74%);
    font-weight: 900;
}

#sidebar-nav li a:hover p{
    color: #000;
}

#sidebar-nav li a:active,
#sidebar-nav li a:focus {
    text-decoration: none;
}

#avatarWrapper{
    cursor: pointer;
}

#avatarWrapper p{
  color: #222f3e;
  font-size: 29px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #523a78;
  background-image: linear-gradient(316deg, #523a78 0%, #ee696b 74%);
  font-weight: 500;
}

#logoWrapper img{
  display:block;
  margin: auto;
  margin-top: 32px;
  width: 256px;
}

#avatarWrapper img{
    width: 96px;
    height: 96px;
    display:block;
    margin: 32px auto 8px auto;
}

#titleWrapper {
    text-align: center;
    font-size: 16px;
}

/*//////////////////////////////////
/////////// TOP BAR PART //////////
//////////////////////////////////*/

#topbar-wrapper{
    z-index: 2;
    position: fixed;
    display: inline-block;
    background-color: #282f31;
    height: 48%;
    width: 100%;
    box-shadow: 0px 10px 20px #282f31;
}

#topbar-nav{
    margin-bottom: 24px;
    padding: 20px 20px 10px 20px;
    color: #282f31;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}

/*//////////////////////////////////
///////// ABSOLUTE CONTENT /////////
//////////////////////////////////*/

.progress{
    margin: 16px;
}

#content-wrapper{
    background-image: url("../res/wall/01.jpg");
    background-size: cover;
    margin-left: 250px;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
}

#content-container{
    background-color: #ffa69e;
    background-image: linear-gradient(326deg, #824b6b 0%, #ffa69e 74%);
    width: 100%;
    height: 100%;
}

#overview{
    width: 480px;
    margin-left: calc(25vw);
}

#overview #icon{
    margin: 32px auto;
    display: block;
    width:256px;
    height:256px;
}

#overview .form-horizontal{
    padding: 32px;
    border-radius: 4px;
    width: 480px;
    margin: auto;
    background-color: rgba(255,255,255,0.8);
}

.topInput{
    width:280px;
	margin:auto;
	display: inline;
    margin: 16px;
    border-radius: 4px;
    border-width: 0 0 4px 0 !important;
    border-color: rgba(0,0,0);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 4px;
    text-align: center;
    margin: 16px auto;
}

.topActionWrapper .btnimgs{
  position: relative;
  bottom: 2px;
}

.topActionWrapper h4, select{
    display: inline;
}

::placeholder {
    color: #fff;
}

.btn{
    margin: auto;
    display: block !important;
}

.btn img{
    width: 96px;
    height: 96px;
}

#addbtn-wrapper{
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 80px;
    height: 80px;
}

#createbtn-wrapper{
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 80px;
    height: 80px;
}

#cancelbtn-wrapper{
    position: fixed;
    bottom: 140px;
    right: 40px;
    width: 80px;
    height: 80px;
}

#editbtn-wrapper{
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 80px;
    height: 80px;
}

#popup-wrapper{
	position: fixed;
	top:0px;
	left:0px;
	width:100vw;
	height:100vh;
	background: rgba(0,0,0,0.7);
}

#popup-content{
    display: flex;
	position: fixed;
	border-radius: 8px;
    bottom: 40px;
    right: 160px;
    width: 25%;
    height: 80px;
	background-color: rgba(0,0,0,0.7);
}

#popup-content input{
    width:91%;
    min-width: 220px;
    margin:auto;
	display: block;
}

#popup-content select{
    width: 160px;
    margin: 20px;
    padding: 6px 12px;
}

.btnimg{
    width: 80px;
    height: 80px;
    cursor: pointer;
    margin: auto;
    display: block;
}

.btnimgm{
    width: 36px;
    height: 36px;
    cursor: pointer;
    margin: auto;
    display: block;
}

.btnimgs{
    width: 26px;
    height: 26px;
    margin: 2px;
    cursor: pointer;
}

.io{
    margin: 16px 0;
}

.allergenic{
    margin-bottom: 32px;
}

.allergenic-available, .allergenic-selected, .io, .title{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.allergenic-item{
    margin: 8px;
}

.allergenic-available .btnimgm{
    filter: grayscale(100%);
}

.bignumberPurple{
    font-family: Akrobatx4 !important;
    font-weight: 900;
    font-size: 80px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #523a78;
    background-image: linear-gradient(155deg, #ee696b 0%, #523a78 100%);
    text-align: center;
}

.bignumberBlue{
    font-family: Akrobatx4 !important;
    font-weight: 900;
    font-size: 80px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
    text-align: center;
}