<div id="content-container">
	<div id="topbar-nav">
		<h1>
			INGREDIENTS
		</h1>
	</div>
	<div id="content">
		<div class="row">
			<div id="filter-wrapper" class="col-4 offset-4">
				<input class="topInput" id="filter" type="text" placeholder="Filter ..." value="<% if(filter){%> <%= filter %> <%} %>">
				<a id="searchbtn" class="btnimgs"><img class="btnimgs" src="res/search.png" alt="search"></a>
			</div>
		</div>
		<div class="row">
			<div class="col-9 offset-1">
				<table id="table" class="table table-striped table-hover table-condensed">
					<thead>
						<tr>
							<th>Name</th>
							<th>Price</th>
							<th>/</th>
							<th>Quantity</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<% data.forEach(function(dat) { %>
							<tr id='<%= dat.guid %>'>
								<td class="name">
									<span class="nameDisplay"><%= dat.name %></span>
									<span class="nameInput hidden">
										<input class="form-control namePiece" type="text" value="<%= dat.name %>" placeholder="Nom ...">
									</span>
								</td>
								<td class="price">
									<span class="priceDisplay"><%= dat.price %> €</span>
									<span class="priceInput hidden">
										<input class="form-control pricePiece" type="number" step="any" value="<%= dat.price %>" placeholder="Prix ...">
									</span>
								</td>
								<td> pour </td>
								<td class="quantity measureInput">
									<span class="ingrQuantityDisplay"><%= dat.quantity %> <%= dat.unity %></span>
									<span class="inlineInputContainer ingrQuantityInput hidden">
										<input type="text" class="form-control quantityInput quantityPiece" placeholder="Quantité utilisée ..." value="<%= dat.quantity %>">
										<select class="form-control unitSelector unityPiece" placeholder="Unité ...">
												<option <% if(dat.unity == "g"){ %>selected <% } %> >g</option>
												<option <% if(dat.unity == "Kg"){ %>selected <% } %> >Kg</option>
												<option <% if(dat.unity == "mL"){ %>selected <% } %> >mL</option>
												<option <% if(dat.unity == "L"){ %>selected <% } %> >L</option>
												<option <% if(dat.unity == "cm"){ %>selected <% } %> >cm</option>
												<option <% if(dat.unity == "m"){ %>selected <% } %> >m</option>
												<option <% if(dat.unity == "unité"){ %>selected <% } %> >unité</option>
											</select>
									</span>
								</td>
								<td>
									<a class="edit"><img class="btnimgs" src="res/edit.png" alt="edit"></a>
									<a class="delete"><img class="btnimgs" src="res/trash.png" alt="delete"></a>
									<a class="validate hidden"><img class="btnimgs" src="res/check.png" alt="validate"></a>
									<a class="cancel hidden"><img class="btnimgs" src="res/cancel.png" alt="cancel"></a>
								</td>
							</tr>
						<% }); %>
					</tbody>
				</table>
				<nav aria-label="pagination">
					<ul class="pagination justify-content-center">
						<li class="page-item">
							<a id="previngr" class="page-link" href="#" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
								<span class="sr-only">Previous</span>
							</a>
						</li>
						<li class="page-item"><a class="page-link" href="#"><%= page %></a></li>
						<li class="page-item">
							<a id="nextingr" class="page-link" href="#" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
								<span class="sr-only">Next</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<div id="addbtn-wrapper">
		<a id="addbtn" ><img class="btnimg" src="res/plus.png" alt="plus"></a>
	</div>
	<div class="hidden" id="popup-wrapper">
		<div id="popup-content">
			<input type="text" class="form-control" id="nameNewPiece" placeholder="Nom ...">
		</div>
		<div class="hidden" id="createbtn-wrapper">
			<a id="createbtn"><img class="btnimg" src="res/check.png" alt="check"></a>
		</div>
		<div class="hidden" id="cancelbtn-wrapper">
			<a id="cancelbtn"><img class="btnimg" src="res/cancel.png" alt="cancel"></a>
		</div>
		<div class="hidden" id="editbtn-wrapper">
			<a id="editbtn"><img class="btnimg" src="res/check.png" alt="check"></a>
		</div>
	</div>
</div>