<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Hourglass - Countdown</title>
        <script type="text/javascript" src="/js/main.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="/css/main.css"/>
    </head>
    <body id="#page">
        <div class='cadran'>
            <p>Compte à rebours introuvable</p>
        </div>
    </body>
</html>
