<div id="content-container">
	<div id="topbar-nav">
		<h1>
			RECETTES
		</h1>
	</div>
	<div id="content">
		<div class="row">
			<div class="topActionWrapper col-4 offset-4">
				<input id="filter" class="topInput" type="text" placeholder="Filter ..." value="<% if(filter){%> <%= filter %> <%} %>">
				<a id="searchbtn" class="btnimgs"><img class="btnimgs" src="res/search.png" alt="search"></a>
			</div>
		</div>
		<div class="row">
			<div class="col-9 offset-1">
				<table id="table" class="table table-striped table-hover table-condensed">
					<thead>
						<tr>
							<th>Name</th>
							<th>Coût</th>
							<th>Quantité</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<% data.forEach(function(dat) { %>
							<tr id='<%= dat.guid %>'>
								<td class="name"><%= dat.name %></td>
								<td class="cost"><%= dat.price %> €</td>
								<td class="outputQuantity"><%= dat.outputN %> <%= dat.outputU %></td>
								<td>
									<a class="edit"><img class="btnimgs" src="res/cookbook.png" alt="edit"></a>
									<a class="delete"><img class="btnimgs" src="res/trash.png" alt="remove"></a>
								</td>
							</tr>
						<% }); %>
					</tbody>
				</table>
				<nav aria-label="pagination">
					<ul class="pagination justify-content-center">
						<li class="page-item">
							<a id="prevreci" class="page-link" href="#" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
								<span class="sr-only">Previous</span>
							</a>
						</li>
						<li class="page-item"><a class="page-link" href="#"><%= page %></a></li>
						<li class="page-item">
							<a id="nextreci" class="page-link" href="#" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
								<span class="sr-only">Next</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<div id="addbtn-wrapper">
		<a id="addbtn" ><img class="btnimg" src="res/plus.png" alt="plus"></a>
	</div>
	<div class="hidden" id="popup-wrapper">
		<div id="popup-content">
			<input type="text" class="form-control" id="nameRecipe" placeholder="Nom ...">
		</div>
		<div class="hidden" id="createbtn-wrapper">
			<a id="createbtn"><img class="btnimg" src="res/check.png" alt="check"></a>
		</div>
		<div class="hidden" id="cancelbtn-wrapper">
			<a id="cancelbtn"><img class="btnimg" src="res/cancel.png" alt="cancel"></a>
		</div>
		<div class="hidden" id="editbtn-wrapper">
			<a id="editbtn"><img class="btnimg" src="res/check.png" alt="check"></a>
		</div>
	</div>
</div>