<div id="content-container">
	<div id="topbar-nav">
		<h1>
			RECETTE : <%= data.name %>
		</h1>
	</div>
	<div id="content">
		<div class="row">
			<div class="col-2 offset-1">
				<div id="outputQuantity" class="title">
					<span class="outputQuantityDisplay"><%= data.outputN %> <%= data.outputU %></span>
					<span class="inlineInputContainer outputQuantityInput hidden">
						<input type="number" class="form-control quantityInput" id="outputQuantityN" placeholder="Quantité produite ..." value="<%= data.outputN %>">
						<select class="form-control unitSelector" id="outputQuantityU" placeholder="Unité ...">
							<option <% if(data.outputU == "g"){ %>selected <% } %> >g</option>
							<option <% if(data.outputU == "Kg"){ %>selected <% } %> >Kg</option>
							<option <% if(data.outputU == "mL"){ %>selected <% } %> >mL</option>
							<option <% if(data.outputU == "L"){ %>selected <% } %> >L</option>
							<option <% if(data.outputU == "parts"){ %>selected <% } %> >parts</option>
						</select>
						<a class="validate"><img class="btnimgs" src="res/check.png" alt="validate"></a>
						<a class="cancel"><img class="btnimgs" src="res/cancel.png" alt="cancel"></a>
					</span>
				</div>
				<div class="allergenic">
					<div class="title">
						<h2>Allergènes</h2>
					</div>
					<div class="title">
						<hr style="display: inline-block; width: 80px;">
						<h4>Présents</h4>
						<hr style="display: inline-block; width: 80px;">
					</div>
					<div class="allergenic-selected">
						<a class="allergenic-item hidden" id="allergenic-1-on"><img class="btnimgm" src="res/allergenic/almond.png" alt="almond" title="Fruits à coques (amandes, noisettes, noix, noix de : cajou, pécan, macadamia, du Brésil, du  Queensland, pistaches) et produits à base de ces fruits)"></a>
						<a class="allergenic-item hidden" id="allergenic-2-on"><img class="btnimgm" src="res/allergenic/celeri.png" alt="celeri" title="Céleri et produits à base de céleri"></a>
						<a class="allergenic-item hidden" id="allergenic-3-on"><img class="btnimgm" src="res/allergenic/crusta.png" alt="crusta" title="Crustacés et produits à base de crustacés"></a>
						<a class="allergenic-item hidden" id="allergenic-4-on"><img class="btnimgm" src="res/allergenic/egg.png" alt="egg" title="Oeufs et produits à base d'oeufs"></a>
						<a class="allergenic-item hidden" id="allergenic-5-on"><img class="btnimgm" src="res/allergenic/fish.png" alt="fish" title="Poissons et produits à base de poissons"></a>
						<a class="allergenic-item hidden" id="allergenic-6-on"><img class="btnimgm" src="res/allergenic/gluten.png" alt="gluten" title="Céréales contenant du gluten (blé, seigle, orge, avoine, épeautre, kamut ou leurs souches hybridées) et produits à base de ces céréales"></a>
						<a class="allergenic-item hidden" id="allergenic-7-on"><img class="btnimgm" src="res/allergenic/lupin.png" alt="lupin" title="Lupin et produits à base de lupin"></a>
						<a class="allergenic-item hidden" id="allergenic-8-on"><img class="btnimgm" src="res/allergenic/milk.png" alt="milk" title="Lait et produits à base de lait (y compris de lactose)"></a>
						<a class="allergenic-item hidden" id="allergenic-9-on"><img class="btnimgm" src="res/allergenic/mollus.png" alt="mollus" title="Mollusques et produits à base de mollusques"></a>
						<a class="allergenic-item hidden" id="allergenic-10-on"><img class="btnimgm" src="res/allergenic/mustard.png" alt="mustard" title="Moutarde et produits à base de moutarde"></a>
						<a class="allergenic-item hidden" id="allergenic-11-on"><img class="btnimgm" src="res/allergenic/peanut.png" alt="peanut" title="Arachides et produits à base d'arachides"></a>
						<a class="allergenic-item hidden" id="allergenic-12-on"><img class="btnimgm" src="res/allergenic/sesame.png" alt="sesame" title="Graines de sésame et  produits à base de graines de sésame"></a>
						<a class="allergenic-item hidden" id="allergenic-13-on"><img class="btnimgm" src="res/allergenic/soja.png" alt="soja" title="Soja et produits à base de soja"></a>
						<a class="allergenic-item hidden" id="allergenic-14-on"><img class="btnimgm" src="res/allergenic/sulfite.png" alt="sulfite" title="Anhydride sulfureux et sulfites en concentration de plus de 10mg/kg ou 10 mg/l (exprimés en SO2)"></a>
					</div>
					<div class="io">
						<hr style="display: inline-block; width: 80px;">
						<img class="btnimgs" src="res/shuffle.png" alt="inandout">
						<hr style="display: inline-block; width: 80px;">
					</div>
					<div class="allergenic-available">
						<a class="allergenic-item hidden" id="allergenic-1-off"><img class="btnimgm" src="res/allergenic/almond.png" alt="almond" title="Fruits à coques (amandes, noisettes, noix, noix de : cajou, pécan, macadamia, du Brésil, du  Queensland, pistaches) et produits à base de ces fruits)"></a>
						<a class="allergenic-item hidden" id="allergenic-2-off"><img class="btnimgm" src="res/allergenic/celeri.png" alt="celeri" title="Céleri et produits à base de céleri"></a>
						<a class="allergenic-item hidden" id="allergenic-3-off"><img class="btnimgm" src="res/allergenic/crusta.png" alt="crusta" title="Crustacés et produits à base de crustacés"></a>
						<a class="allergenic-item hidden" id="allergenic-4-off"><img class="btnimgm" src="res/allergenic/egg.png" alt="egg" title="Oeufs et produits à base d'oeufs"></a>
						<a class="allergenic-item hidden" id="allergenic-5-off"><img class="btnimgm" src="res/allergenic/fish.png" alt="fish" title="Poissons et produits à base de poissons"></a>
						<a class="allergenic-item hidden" id="allergenic-6-off"><img class="btnimgm" src="res/allergenic/gluten.png" alt="gluten" title="Céréales contenant du gluten (blé, seigle, orge, avoine, épeautre, kamut ou leurs souches hybridées) et produits à base de ces céréales"></a>
						<a class="allergenic-item hidden" id="allergenic-7-off"><img class="btnimgm" src="res/allergenic/lupin.png" alt="lupin" title="Lupin et produits à base de lupin"></a>
						<a class="allergenic-item hidden" id="allergenic-8-off"><img class="btnimgm" src="res/allergenic/milk.png" alt="milk" title="Lait et produits à base de lait (y compris de lactose)"></a>
						<a class="allergenic-item hidden" id="allergenic-9-off"><img class="btnimgm" src="res/allergenic/mollus.png" alt="mollus" title="Mollusques et produits à base de mollusques"></a>
						<a class="allergenic-item hidden" id="allergenic-10-off"><img class="btnimgm" src="res/allergenic/mustard.png" alt="mustard" title="Moutarde et produits à base de moutarde"></a>
						<a class="allergenic-item hidden" id="allergenic-11-off"><img class="btnimgm" src="res/allergenic/peanut.png" alt="peanut" title="Arachides et produits à base d'arachides"></a>
						<a class="allergenic-item hidden" id="allergenic-12-off"><img class="btnimgm" src="res/allergenic/sesame.png" alt="sesame" title="Graines de sésame et  produits à base de graines de sésame"></a>
						<a class="allergenic-item hidden" id="allergenic-13-off"><img class="btnimgm" src="res/allergenic/soja.png" alt="soja" title="Soja et produits à base de soja"></a>
						<a class="allergenic-item hidden" id="allergenic-14-off"><img class="btnimgm" src="res/allergenic/sulfite.png" alt="sulfite" title="Anhydride sulfureux et sulfites en concentration de plus de 10mg/kg ou 10 mg/l (exprimés en SO2)"></a>
					</div>
					<div class="title">
						<hr style="display: inline-block; width: 80px;">
						<h4>Absents</h4>
						<hr style="display: inline-block; width: 80px;">
					</div>
				</div>
				<div class="total">
					<h4>Coût total des ingredients :</h4>
					<div class="bignumberPurple"><%= total %> €</div>
				</div>
				<div class="total">
					<h4>Prix facturé :</h4>
					<div class="bignumberBlue"><%= parseFloat(total*((sets.marge/100)+1))+ parseFloat(charges) %> €</div>
				</div>
			</div>
			<div class="col-7">
				<div class="topActionWrapper">
					<h4>Ajouter un ingredient : </h4>
					<select class="topInput" id="ingrselect" placeholder="Unité ...">
						<% ingrs.forEach(function(ingr) { %>
							<option guid="<%= ingr.guid %>"><%= ingr.name %></option>
						<% }); %>
					</select>
					<a id="addRecipeIngr"><img class="btnimgs" src="res/plus.png" alt="search"></a>
				</div>
				<table id="table" class="table table-striped table-hover table-condensed">
					<thead>
						<tr>
							<th>Nom</th>
							<th>Quantité</th>
							<th>Cout pour la recette</th>
							<th>Prix à l'unité</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<% ingrused.forEach(function(ingr) { %>
							<tr id='<%= ingr.guid %>'>
								<td class="name"><%= ingr.name %></td>
								<td class="usedQuantity measureInput">
									<span class="usedQuantityDisplay"><%= ingr.usedN %> <%= ingr.usedU %></span>
									<span class="inlineInputContainer usedQuantityInput hidden">
										<input type="number" class="form-control quantityInput usedQuantityN" placeholder="Quantité utilisée ..." value="<%= ingr.usedN %>">
										<select class="form-control unitSelector usedQuantityU" placeholder="Unité ...">
											<option <% if(ingr.usedU == "g"){ %>selected <% } %> >g</option>
											<option <% if(ingr.usedU == "Kg"){ %>selected <% } %> >Kg</option>
											<option <% if(ingr.usedU == "mL"){ %>selected <% } %> >mL</option>
											<option <% if(ingr.usedU == "L"){ %>selected <% } %> >L</option>
											<option <% if(ingr.usedU == "cm"){ %>selected <% } %> >cm</option>
											<option <% if(ingr.usedU == "m"){ %>selected <% } %> >m</option>
											<option <% if(ingr.usedU == "unité"){ %>selected <% } %> >unité</option>
										</select>
									</span>
								</td>
								<td class="cost"><%= ingr.cost %> €</td>
								<td class="unitprice">(<%= ingr.price %> € / <%= ingr.quantity %> <%= ingr.unity%>)</td>
								<td>
									<a class="editIngrUsedQuantity"><img class="btnimgs" src="res/beaker.png" alt="editQ"></a>
									<a class="delete"><img class="btnimgs" src="res/trash.png" alt="remove"></a>
									<a class="validate hidden"><img class="btnimgs" src="res/check.png" alt="validate"></a>
									<a class="cancel hidden"><img class="btnimgs" src="res/cancel.png" alt="cancel"></a>
								</td>
							</tr>
						<% }); %>
					</tbody>
				</table>
				<div class="topActionWrapper">
					<h4>Imbriquer une recette : </h4>
					<select class="topInput" id="reciselect" placeholder="Unité ...">
						<% recis.forEach(function(reci) { %>
							<option guid="<%= reci.guid %>"><%= reci.name %></option>
						<% }); %>
					</select>
					<a id="addRecipeReci"><img class="btnimgs" src="res/plus.png" alt="search"></a>
				</div>
				<table id="table" class="table table-striped table-hover table-condensed">
					<thead>
						<tr>
							<th>Nom</th>
							<th>Quantité</th>
							<th>Coût pour la recette</th>
							<th>Coût à l'unité</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<% reciused.forEach(function(reci) { %>
							<tr id='<%= reci.guid %>'>
								<td class="name"><%= reci.name %></td>
								<td class="usedQuantity measureInput">
									<span class="usedQuantityDisplay"><%= reci.usedN %> <%= reci.usedU %></span>
									<span class="inlineInputContainer usedQuantityInput hidden">
										<input type="number" class="form-control quantityInput usedQuantityN" placeholder="Quantité utilisée ..." value="<%= reci.usedN %>">
										<select class="form-control unitSelector usedQuantityU" placeholder="Unité ...">
											<option <% if(reci.usedU == "g"){ %>selected <% } %> >g</option>
											<option <% if(reci.usedU == "Kg"){ %>selected <% } %> >Kg</option>
											<option <% if(reci.usedU == "mL"){ %>selected <% } %> >mL</option>
											<option <% if(reci.usedU == "L"){ %>selected <% } %> >L</option>
											<option <% if(reci.usedU == "parts"){ %>selected <% } %> >parts</option>
										</select>
									</span>
								</td>
								<td class="cost"><%= reci.cost %> €</td>
								<td class="unitprice">(<%= reci.price %> € / <%= reci.outputN %> <%= reci.outputU%>)</td>
								<td>
									<a class="editReciUsedQuantity"><img class="btnimgs" src="res/beaker.png" alt="editQ"></a>
									<a class="delete"><img class="btnimgs" src="res/trash.png" alt="remove"></a>
									<a class="validate hidden"><img class="btnimgs" src="res/check.png" alt="validate"></a>
									<a class="cancel hidden"><img class="btnimgs" src="res/cancel.png" alt="cancel"></a>
								</td>
							</tr>
						<% }); %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div id="addbtn-wrapper">
		<a id="addbtn" ><img class="btnimg" src="res/plus.png" alt="plus"></a>
	</div>
	<div class="hidden" id="popup-wrapper">
		<div id="popup-content">
			<input type="text" class="form-control" id="nameRecipe" placeholder="Nom ...">
		</div>
		<div class="hidden" id="createbtn-wrapper">
			<a id="createbtn"><img class="btnimg" src="res/check.png" alt="check"></a>
		</div>
		<div class="hidden" id="cancelbtn-wrapper">
			<a id="cancelbtn"><img class="btnimg" src="res/cancel.png" alt="cancel"></a>
		</div>
		<div class="hidden" id="editbtn-wrapper">
			<a id="editbtn"><img class="btnimg" src="res/check.png" alt="check"></a>
		</div>
	</div>
</div>