<div id="content-container">
	<div id="topbar-nav">
		<h1>
			SETTINGS
		</h1>
	</div>
	<div id="content">
		<div class="row">
			<div class="col-5">
				<div class="prevpresta">
					<div class="prestaByMonth">
						<div class="costRecur">
							<div class="title">
								<h2>Prévision des prestation par mois</h2>
							</div>
							<table class="table table-striped table-hover table-condensed">
								<tr>
									<td>Janvier</td>
									<td><input type="number" id="month1" class="form-control" value="<%= data.month1 %>"></td>
									<td>Mai</td>
									<td><input type="number" id="month5" class="form-control" value="<%= data.month5 %>"></td>
									<td>Septembre</td>
									<td><input type="number" id="month9" class="form-control" value="<%= data.month9 %>"></td>
								</tr>
								<tr>
									<td>Février</td>
									<td><input type="number" id="month2" class="form-control" value="<%= data.month2 %>"></td>
									<td>Juin</td>
									<td><input type="number" id="month6" class="form-control" value="<%= data.month6 %>"></td>
									<td>Octobre</td>
									<td><input type="number" id="month10" class="form-control" value="<%= data.month10 %>"></td>
								</tr>
								<tr>
									<td>Mars</td>
									<td><input type="number" id="month3" class="form-control" value="<%= data.month3 %>"></td>
									<td>Juillet</td>
									<td><input type="number" id="month7" class="form-control" value="<%= data.month7 %>"></td>
									<td>Novembre</td>
									<td><input type="number" id="month11" class="form-control" value="<%= data.month11 %>"></td>
								</tr>
								<tr>
									<td>Avril</td>
									<td><input type="number" id="month4" class="form-control" value="<%= data.month4 %>"></td>
									<td>Août</td>
									<td><input type="number" id="month8" class="form-control" value="<%= data.month8 %>"></td>
									<td>Décembre</td>
									<td><input type="number" id="month12" class="form-control" value="<%= data.month12 %>"></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="costRecur">
					<div class="title">
						<h2>Coûts récurents mensuel</h2>
					</div>
					<table class="table table-striped table-hover table-condensed">
						<tr>
							<td>Coût du loyer :</td>
							<td><input type="number" id="monthlyRent" class="form-control" value="<%= data.rent %>"></td>
						</tr>
						<tr>
							<td>Coût en éléctricité :</td>
							<td><input type="number" id="monthlyElec" class="form-control" value="<%= data.elec %>"></td>
						</tr>
						<tr>
							<td>Coût en eau :</td>
							<td><input type="number" id="monthlyWater" class="form-control" value="<%= data.water %>"></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-5">
				<div class="title">
					<h2>Coûts récurents mensuel</h2>
				</div>
				<table class="table table-striped table-hover table-condensed">
					<tr>
						<td>Marge appliquée aux ingredients (en %):</td>
						<td><input type="number" id="marge" class="form-control" value="<%= data.marge %>"></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>